body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

.score-container {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.quiz-container {
    max-width: 800px;
    margin: 0 auto;
}

.quiz-question {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-question h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.quiz-question p {
    margin-bottom: 15px;
}

.quiz-question input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.feedback {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
